/*Theme*/
:root {
  --always-black: #0e141b;
  --always-dark: #21262d;
  --link: #0284fe;
  
  
  --root-size: 16px;
  --size-tiny: .625rem;
  --size-caption: .75rem;
  --size-body: .875rem;
  --size-paragraph: .875rem;
  --size-subheader: 1.0625rem;
  --size-title: 1.375rem;
  --size-heading: 1.625rem;
  --size-display1: 2rem;
  --size-display2: 2.5rem;
  --size-display3: 3.5rem;

  --height-tiny: 1rem;
  --height-caption: 1.25rem;
  --height-body: 1.5rem;
  --height-paragraph: 1.625rem;
  --height-subheader: 1.875rem;
  --height-title: 2rem;
  --height-heading: 2.5rem;
  --height-display1: 3rem;
  --height-display2: 3rem;
  --height-display3: 4rem;

  /* theme dark need recover */
  --theme-bg: #fff;
  --theme-color: #0e141b;
  --gray500: #C9CED6;
  --medium: rgb(80, 82, 86);
  --tiny-border: 1px solid #f0f0f0;
  --tiny-border-color: #f0f0f0;
  --caption-border: 1px solid #d9d9d9;
  --black: #0e141b;
  --white: #fff;
  --dark: #21262d;
  --light: #f5f5f5;
  --scroll-bg: #F1F1F1;
  --scroll-bar: #C1C1C1;
  --scroll-hover: #A8A8A8;
  --scroll-active: #787878;
  --spinning: #3498db;
  --shadow-1: 0 0 .0625rem 0 rgba(8, 11, 14, 0.06), 0 .0625rem .0625rem 0 rgba(8, 11, 14, 0.1);
  --shadow-2: 0 0 .0625rem 0 rgba(8, 11, 14, 0.06), 0 .1875rem .1875rem -0.0625rem rgba(8, 11, 14, 0.1);
  --shadow-3: 0 0 .0625rem 0 rgba(8, 11, 14, 0.06), 0 .375rem .375rem -0.0625rem rgba(8, 11, 14, 0.1);
  --shadow-4: 0 0 .0625rem 0 rgba(8, 11, 14, 0.06), 0 1rem 1rem -0.0625rem rgba(8, 11, 14, 0.1);
  --shadow-5: 0 0 .0625rem 0 rgba(8, 11, 14, 0.06), 0 2rem 2.5rem -0.0625rem rgba(8, 11, 14, 0.1);
}

[data-theme="dark"] {
  --theme-bg: #0e141b;
  --theme-color: #fff;
  --gray500: rgba(255,255,255,0.3);
  --medium: #b2b8c4;
  --tiny-border: 1px solid #303030;
  --tiny-border-color: #303030;
  --caption-border: 1px solid #434343;
  --black: #fff;
  --white: #0e141b;
  --dark: #e7e7e7;
  --light: #21262d;
  --scroll-bg: #424242;
  --scroll-bar: #686868;
  --scroll-hover: #7B7B7B;
  --scroll-active: #A1A1A1;
  --spinning: #455571;
  --shadow-1: 0 0 .0625rem 0 rgba(8, 11, 14, 0.76), 0 .0625rem .0625rem 0 rgba(8, 11, 14, 0.85);
  --shadow-2: 0 0 .0625rem 0 rgba(8, 11, 14, 0.76), 0 .1875rem .1875rem -0.0625rem rgba(8, 11, 14, 0.85);
  --shadow-3: 0 0 .0625rem 0 rgba(8, 11, 14, 0.76), 0 .375rem .375rem -0.0625rem rgba(8, 11, 14, 0.85);
  --shadow-4: 0 0 .0625rem 0 rgba(8, 11, 14, 0.76), 0 1rem 1rem -0.0625rem rgba(8, 11, 14, 0.85);
  --shadow-5: 0 0 .0625rem 0 rgba(8, 11, 14, 0.76), 0 2rem 2.5rem -0.0625rem rgba(8, 11, 14, 0.85);
}

/* Reset Style */
* {
  box-sizing: border-box;
  scrollbar-width: thin;
}
#__next {
  height: 100%;
}
html,body {
  height: 100%;
}
html {
  font-size: var(--root-size);
  color: var(--theme-color);
  background: var(--theme-bg);
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'SF Pro Text', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: var(--theme-color);
  background: var(--theme-bg);
  font-size: var(--size-paragraph);
  line-height: var(--size-title);
}
p,h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0;
  font-size: var(--size-paragraph);
  line-height: var(--size-title);
}
input {
  border: none;
  font-family: inherit;
}
button {
  border: none;
}
a {
  margin: 0;
  padding: 0;
  color: var(--link);
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}
table, thead, tr, th, td {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
}
pre, code {
  margin: 0;
  padding: 1rem;
  font-size: var(--size-paragraph);
  line-height: var(--size-title);
  font-family: monospace;
}
:focus {
  outline: none;
}

/* Scrollbar */
::-webkit-scrollbar-track
{
  box-shadow: none;
  -webkit-box-shadow: none;
	background: transparent;
}

::-webkit-scrollbar
{
	width: .375rem;
  height: .375rem;
	background: transparent;
}
::-webkit-scrollbar-corner {
  visibility: hidden;
}
::-webkit-scrollbar-thumb
{
  box-shadow: none;
  -webkit-box-shadow: none;
	background-color: var(--scroll-bar);
  border-radius: .25rem;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-hover);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--scroll-active)
}

