.wrapper {
  display: flex;
  justify-content: flex-end;

  .item {
    padding-left: var(--size-tiny);
    .btn {
      border: var(--caption-border);
      font-weight: normal;
      transition: background-color .25s;
      color: var(--medium);
      &:hover:not(.active) {
        background-color: var(--light);
      }
      &.active {
        border-color: var(--link);
        color: var(--link);
        cursor: default;
      }
    }
  }
}