.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.item {
  flex-basis: 10%;
  width: 10%;
  padding: .75rem;
  text-align: center;
  border: 1px solid rgb(8, 108, 133);
  animation-name: load;
  animation-duration: .5s;
}

@keyframes load {
  from {
    opacity: 0;
    filter: blur(1rem);
    transform: scale(2);
  }
  to {
    opacity: unset;
    filter: unset;
    transform: unset;
  }
}