html, body {
  color: #333943;
  background: #fff;
}

[data-theme="dark"],
[data-theme="dark"] body {
  color: #fff;
  background: #0E141B;
}

[data-theme="dark"] a {
  color: #559ff3
}

body {
  font-size: 1rem;
  transition: color .35s ease, background .35s ease;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

#__next {
  height: 100%;
}
